In [21]:
import numpy as np
import pandas as pd

In [22]:
po = pd.read_csv('dados/dados.csv')

In [23]:
po

   col1  col2  col3  col4
0     1     2   3.0   4.0
1     5     6   7.0   8.0
2     9    10  11.0  12.0
3    13    14  15.0   NaN
4    33    44   NaN   NaN

In [24]:
po[po['col4'].isna()].count()

col1    2
col2    2
col3    1
col4    0
dtype: int64

In [25]:
po.isnull().sum()

col1    0
col2    0
col3    1
col4    2
dtype: int64

In [27]:
len(po)

5

In [28]:
po.count()

col1    5
col2    5
col3    4
col4    3
dtype: int64